html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    min-width: 100vh;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
}

div, img {
    display: block;
}

.calendar-zone {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 2em;
}

.calendar-illustration {
    max-width: 300px;
}

.primary-color {
    color: #FF725C;
}

.date {
    width: 1.75em;
    height: 1.75em;
    cursor: default;
    font-size: 1em;
    line-height: 1.75em;
    text-align: center;
    transition: background-color .2s ease, color .4s ease-in;
    border-radius: 100%;
    position: relative;
}

.date-busy::before, .date-notif::before {
    content: "";
    display: block;
    width: .25em;
    height: .25em;
    border-radius: 100%;
    position: absolute;
    bottom: -8px;
    left: 50%;
}

.date-notif::before {
    background-color: #E7040F;
}

.date-busy::before {
    background-color: #001B44;
}

.date-current {
    color: #FFF;
    background-color: #FF725C;
}

/* add a transition (a #FF725C round highlight) when hovering a date except the non february ones, make sure its accessible */