html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    min-width: 100vh;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
}

div {
    display: block;
}

/* add many transition(color, border radius, background) on hover and make sure that the background transition at a faster speed */

button {
    padding: 14px;
    background: peachpuff;
    color: salmon;
    font-size: 2em;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: color 3s ease-in, background 1s linear, border-radius .6s ease-in-out;
}

button:hover {
    color: peachpuff;
    background: salmon;
    border-radius: 900px;
}

/* can you transition the gradient too */

.frame {
    border-radius: 2px;
    width: 400px;
    background: linear-gradient(to top right, #43389F, rgb(173, 116, 211));
    height: 400px;
    transition: all .3s ease-in;
    padding: 20px;
    background-size: 180% 100%;
}

.frame:hover {
    background-position: -130px 0;
}